.AddWordFormWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: none;
}

.title {
  font-family: MacPaw Fixel Display;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.48px;
  color: var(--light-color);
}

.regularTxt,
.catTitleWhite {
  font-family: MacPaw Fixel Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}

.catTitleWhite::first-letter {
  text-transform: uppercase;
}

.filterItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--light-color);
  padding: 14px 24px;
  position: relative;
}

.filterItemWrap:hover {
  cursor: pointer;
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 20px;
  height: 20px;
  color: var(--light-color);
}

.catTitle {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  color: var(--second-color);
}

.catTitle::first-letter {
  text-transform: uppercase;
}

.catList {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  padding: 12px 24px;
  border-radius: 15px;
  box-shadow: 0 4px 47px rgba(18, 20, 23, 0.08);
  z-index: 10;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.catList li::first-letter {
  text-transform: uppercase;
}

.radioWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-top: -8px;
}

.radioWrap label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--light-color);
}

.langWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

input[type='radio'] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--light-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.56px;
}

input[type='radio']:checked {
  border-color: var(--light-color);
}

input[type='radio']:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--light-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.irregularTxtWarn {
  font-family: MacPaw Fixel Display;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-top: -8px;
  color: var(--light-color);
}

.langTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.langTitle p {
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.32px;
}

.langInput {
  width: 100%;
}

.langInput input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--light-color);
  padding: 14px 24px;
  position: relative;
  background: none;
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 16.56px;
  color: var(--light-color);
}

.langInput input::placeholder {
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}

.langInput input:focus {
  outline: none;
}

.controls {
  width: 100%;
  display: flex;
  gap: 8px;
}

.addBtn {
  width: 50%;
  border: none;
  background: var(--light-color);
  padding: 12px 0;
  font-family: MacPaw Fixel Display;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  margin-top: 16px;
  transition: 0.5s;
}

.closeBtn {
  width: 50%;
  border: none;
  border: 1px solid var(--light-color);
  background: none;
  padding: 12px 0;
  font-family: MacPaw Fixel Display;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  margin-top: 16px;
  color: var(--light-color);
  transition: 0.5s;
}

.addBtn:hover,
.closeBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.error {
  width: 100%;
  margin-top: 5px;
  color: var(--error-color);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.8px;
    margin-bottom: 4px;
  }
  .regularTxt {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .filterItemWrap {
    width: 204px;
  }
  .irregularTxtWarn {
    font-size: 12px;
    line-height: 14px;
    margin-top: -8px;
  }
  .radioWrap {
    gap: 18px;
  }
  .langWrap {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 30px;
  }
  .noMarg {
    margin-top: 0;
  }
  .langTitle {
    width: 114px;
    margin: 0;
  }
  .langTitle p {
    margin: 0;
    font-size: 16px;
  }
  .langTitle svg {
    width: 32px;
    height: 32px;
  }
  .langInput {
    width: 354px;
  }
}
