.EditWordFormWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: none;
}

.regularTxt {
  font-family: MacPaw Fixel Display;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}

.filterItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--light-color);
  padding: 14px 24px;
  position: relative;
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formWrap svg {
  width: 28px;
  height: 28px;
  color: var(--light-color);
}

.formWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.formWrap label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--light-color);
}

.langTitle {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: -8px;
}

.langTitle p {
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.32px;
}

.langInput {
  width: 100%;
}

.langInput input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--light-color);
  padding: 14px 24px;
  position: relative;
  background: none;
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 16.56px;
  color: var(--light-color);
}

.langInput input::placeholder {
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}

.langInput input:focus {
  outline: none;
}

.controls {
  width: 100%;
  display: flex;
  gap: 8px;
}

.addBtn {
  width: 50%;
  border: none;
  background: var(--light-color);
  padding: 12px 0;
  font-family: MacPaw Fixel Display;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  margin-top: 16px;
}

.closeBtn {
  width: 50%;
  border: none;
  border: 1px solid var(--light-color);
  background: none;
  padding: 12px 0;
  font-family: MacPaw Fixel Display;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border-radius: 30px;
  margin-top: 16px;
  color: var(--light-color);
}

.error {
  color: var(--error-color);
}
