.signUpPage {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  z-index: 10;
}

.kids {
  width: 100%;
  display: flex;
  justify-content: center;
}

.kids img {
  width: 247px;
  margin-top: -24px;
}

.actionsItems {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  order: 2;
  margin-top: 16px;
}

.actionsItems span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.32px;
  text-align: center;
  color: var(--second-color);
}

.actionsItems span:not(:last-child)::after {
  content: '•';
  margin: 0 7px;
}

@media (min-width: 768px) {
  .signUpPage {
    min-height: 100vh;
    padding: 24px 32px;
    justify-content: space-between;
  }
  .actionsItems {
    display: flex;
    margin-bottom: 82px;
  }
  .actionsItems span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1440px) {
  .signUpPage {
    padding: 24px 100px;
    max-height: 100vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
  }
  .kids {
    order: 2;
    width: auto;
    margin-top: 155px;
  }
  .kids img {
    width: 498px;
    margin-top: 0;
  }
  .actionsItems {
    width: auto;
    position: relative;
    top: -15px;
  }
}
