.logoWrap {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logoWrap:hover {
  cursor: pointer;
}

.logoWrap:hover h4 {
  text-decoration: underline;
}

.logoIcon {
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.logoWrap:hover .logoIcon {
  transform: scale(1.1);
}

.logoWhite .logoIcon {
  width: 40px;
  height: 40px;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--second-color);
}

.logoWhite h4 {
  color: var(--light-color);
  font-size: 22px;
  line-height: 32px;
}

@media screen and (min-width: 768px) {
  .logoIcon {
    width: 40px;
    height: 40px;
  }
  h4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
  }
}
