.filterItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  padding: 14px 24px;
  position: relative;
}

.filterList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 20px;
  height: 20px;
}

.title {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  color: var(--second-color);
}

.title::first-letter {
  text-transform: uppercase;
}

.catList {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: white;
  padding: 12px 24px;
  border-radius: 15px;
  box-shadow: 0 4px 47px rgba(18, 20, 23, 0.08);
  z-index: 10;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.catList li::first-letter {
  text-transform: uppercase;
}

.radioWrap {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.radioWrap label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioWrap label input[type='radio'] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(18, 20, 23, 0.3);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.56px;
}

.radioWrap label input[type='radio']:checked {
  border-color: var(--main-color);
}

.radioWrap label input[type='radio']:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
