.searchWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 15px;
  margin-bottom: 8px;
}

.searchWrap input {
  padding: 14px 0;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-color);
}

.searchWrap input::placeholder {
  color: var(--second-color);
}

.searchWrap input:focus {
  outline: none;
  border: none;
}

.searchWrap svg {
  width: 20px;
  height: 20px;
}
