.headerWrap {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 16px;
}

.userAccountWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.userAccountWrap p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: var(--main-color);
  border-radius: 100%;
}

.userAvatar {
  width: 14px;
  height: 14px;
  color: rgba(252, 252, 252, 0.7);
}

.logOutLink {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--second-color);
}

.logOutLink svg {
  width: 16px;
  height: 16px;
  stroke: var(--second-color);
}

.logOutLink:hover {
  text-decoration: underline;
}

@media screen and (min-width: 375px) {
  .userAccountWrap p {
    max-width: 80px;
  }
}

@media screen and (min-width: 768px) {
  .headerWrap {
    padding: 24px 32px;
  }
  .userAccountWrap p {
    font-size: 20px;
  }
  .avatar {
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-right: 20px;
  }
  .userAvatar {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .userAccountWrap {
    gap: 10;
  }
  .avatar {
    margin: 0;
    margin-right: 6px;
  }
}
