.dashWrap {
  padding: 32px 16px;
}

.statWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

.actions {
  display: flex;
  gap: 16px;
}

.trainLink {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background: none;
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--second-color);
  padding: 0;
  text-decoration: none;
}

.trainLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.trainLinkIcon {
  stroke: var(--main-color);
}

@media screen and (min-width: 768px) {
  .dashWrap {
    padding: 80px 32px 28px;
  }
  .statWrap {
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-top: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .dashWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
