.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.noWordsTxt {
  padding-left: 16px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .noWordsTxt {
    padding-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .noWordsTxt {
    text-align: center;
    font-size: 20px;
  }
}
