/* fixel-regular */
@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FixelDisplay-Light.otf') format('truetype');
}

/* fixel-bold */
@font-face {
  font-display: swap;
  font-family: 'MacPaw Fixel Display';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/FixelDisplay-SemiBold.otf') format('truetype');
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  font-family: MacPaw Fixel Display, Arial;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: rgba(133, 170, 159, 1);
  --second-color: rgba(18, 20, 23, 1);
  --light-color: rgba(248, 248, 248, 1);
  --hover-color: rgba(165, 192, 184, 1);
  --transparent-color: rgba(0, 0, 0, 0.05);
  --error-color: rgba(216, 0, 39, 1);
  --success-color: rgba(60, 191, 97, 1);
}

body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
