.progressBarWrap {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 24px;
  padding: 0 16px 8px;
}

.progressBarWrap svg {
  width: 44px;
  height: 44px;
}

.circleWrap {
  position: relative;
  display: flex;
}

.circlePercent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .progressBarWrap {
    margin-top: 62px;
    padding: 0 32px 16px;
  }
  .progressBarWrap svg {
    width: 58px;
    height: 58px;
  }
}
