.wellDoneWrap h4 {
  text-align: center;
  font-family: MacPaw Fixel Display;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.48px;
  color: var(--light-color);
  margin-bottom: 32px;
}

.wellDoneResults {
  min-height: 250px;
  display: flex;
  gap: 32px;
  position: relative;
}

.correct,
.mistakes {
  z-index: 10;
}

.correct h6,
.mistakes h6 {
  font-family: MacPaw Fixel Display;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 8px;
  color: #fcfcfc80;
}

.correct ul,
.mistakes ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.correct ul li,
.mistakes ul li {
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}

.correct ul li::first-letter,
.mistakes ul li::first-letter {
  text-transform: uppercase;
}

.bookImg {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

.bookImg img {
  width: 152px;
}

@media screen and (min-width: 768px) {
  .wellDoneWrap {
    width: 400px;
  }
  .wellDoneWrap h4 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 28px;
  }
  .correct h6,
  .mistakes h6 {
    font-size: 16px;
    line-height: 24px;
  }
  .wellDoneResults {
    gap: 64px;
  }
  .correct ul,
  .mistakes ul {
    gap: 8px;
  }
  .correct ul li,
  .mistakes ul li {
    font-size: 20px;
    line-height: 100%;
  }
  .bookImg {
    bottom: -48px;
    right: -58px;
  }
  .bookImg img {
    width: 212px;
  }
}

@media screen and (min-width: 1440px) {
  .bookImg {
    bottom: -27px;
  }
}
