.wordPopMenuWrap {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wordPopMenuWrap button {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: MacPaw Fixel Display;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.32px;
}

.wordPopMenuWrap button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.wordPopMenuWrap svg {
  width: 16px;
  height: 16px;
}

@media screen and (min-width: 1440px) {
  .wordPopMenuWrap {
    gap: 12px;
  }
  .wordPopMenuWrap button {
    font-size: 16px;
  }
}
